* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    background: url(bg2.png) no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding: 20px 100px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    text-decoration: none;
    color: #ffff;
    font-size: 50px;
    font-weight: 900;
}
.navbar a { 
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
    position: relative;
    
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: .3s;
}
.navbar a:hover::before {
    width: 100%;
}
.sri09{
    text-align: left;
    text-transform: inherit;
}